# Literals

In [ ]:
print('Im AI engineer')

In [ ]:
user1 = 'Madhu'
user2 = "Mukesh"
A1 = 78.5
A2 = 0
print('Hello!',user1,'This is ur current balance:',A1)
print('welcome sir! u have no balance:',A2)
B1 = 90000
A2 = B1
print(user2,'has',A2,'of bank balance')
kotakmahindra_bank = A1 + A2
print(kotakmahindra_bank,'has total amount...')
print(user1,'have',A1,'of bank balance')
print(user2,'have',A2,'of bnak balance')

# Identifiers(variables)

In [ ]:
#variables are holding c=values what we given 
#A variable must start with letter or the underscore character 
#A vraiable can contain alpha-numeric character 
#variables are case sensitive

In [ ]:
shivani = 96

In [ ]:
9 = u

In [ ]:
_fun = 8
_10 = 7

# Operators

In [ ]:
a = 90
b = 8
a * b
a//b
a+b
a-b
b//a
a % b

In [ ]:
#2x+3y
x = 8
y = 5
row = 2*x + 3*y
print(row)

In [ ]:
yuvansh = 85
yuvika = 670
print(yuvansh * yuvika)

In [ ]:
#Assignment Operator
Tajmahal = ' Tajmahal is located in Agra'
miles = 190889
iscorrect = True
print(Tajmahal,'of',miles,'miles','is',iscorrect)

In [ ]:
# Comparision operators
a = 25
b = 35
c = 100
print("a=",a,   ' b =',b, 'c =', c)
print("a == b:", a == b)
print("a != b:", a != b)
print("a > b :", a > b)
print("c > b :", c > b)
print("a < b :", a < b)
print("a <= b:", a <= b)
print("a >= b:",  a >= b)

In [ ]:
price = 400
frankie = 300
if price > frankie:
    print('I can buy frankie')
else:
    print('I cannot frankie')

# Data Types

In [ ]:
s = input('x =')
v = input('y=')
s = input(s)
v = input(v)
print(row)

List  ( Mutable )

In [ ]:
myteam = ['rohit','mayur','panth','yuvaraj','rashid']
print(myteam)
len(myteam)
type(myteam)

In [ ]:
myteam[4][0]

In [ ]:
myteam.append('Jasprit')
print(myteam)

In [ ]:
myteam =  [['rohit','mayur','panth','yuvaraj','rashid'],['christanio','sachin','dhoni']]
print(myteam)
len(myteam)
type(myteam)
myteam[1][1]
myteam[0][2]

In [ ]:
myteam.remove('rohit')

In [ ]:
myteam

# Tuple

In [ ]:
team1 = ('Rohit', 'Virat', 'Rishabh')
print(team1)
print(myteam)

In [ ]:
len(team1)
type(team1)

In [ ]:
team1.append('mayank')

In [ ]:
all = tuple(myteam)
all

In [ ]:
al = list(team1)
al

In [ ]:
del(myteam[2])    #it skips the value

In [ ]:
myteam

In [ ]:
myteam.pop(0)
myteam

#set

In [ ]:
unique = {'hassh','ishika','scooty'}
uni = {'jack','rosy','joker'}

In [ ]:
u = unique.union(unique)
u

In [ ]:
unique.intersection(unique)

#dictionaries

In [ ]:
uni1 = {'hassh':908,'ishika':678,'scooty':2654}
uni2 = {'jack':143,'rosy':123,'joker':'joker'}

In [ ]:
uni1.values()

In [ ]:
uni2.keys()

In [ ]:
uni2.items()

In [ ]:
uni1.items()

In [ ]:
uni1,uni2

In [ ]:
uni2['jack'],uni1['hassh'],uni2['joker']

In [ ]:
uni1 = {'hassh':908,'ishika':678,'scooty':2654}
for key in uni1:
    print(key, ':', uni1[key])

# Conditional Statement

In [ ]:
hi = 'Ashis'
yuh = 'Arohie'
n = 10
m = 22
if n == m:
    print('its true',hi,'hi')
elif (n < m) and (hi == yuh):
    print('yes!',yuh)
elif (n != m) & (hi == 'Ashis'):
    print('all true,',hi,'and',yuh)
else:
    print('all conditions are wrong')

# Functions

In [ ]:
def shivani(marks):
    return[90,76,100]

subjects = shivani(['PHY','MATHS','MORAL'])
print(subjects)

In [ ]:
def shivani(marks):
    return[90,76,100]

subjects = shivani(['PHY','MATHS','MORAL'])
print(subjects)
PHY = subjects[1]
MATHS = subjects[2]
MORAL = subjects[0]

Total_Marks = 300
Min_marks = 180

if (Min_marks * MORAL <= Total_Marks):
    print('she got good marks in moral science subject:',MORAL)
elif (PHY * MATHS * MORAL > Total_Marks):
    print('Making system is default')
elif ( Min_marks - MATHS <= Total_Marks):
    print('correct')
else:
    print('so sorry ...')
    
    
passmarks= {'PHY':36,'MATHS':48,'MORAL':26}
total = passmarks['PHY'] * PHY + passmarks['MORAL'] * MATHS + passmarks['MATHS'] * MORAL
print(total)

In [ ]:
i = 1
while Min_marks * subjects[1] <= Total_Marks:
    print('students:',i)
    print('All students got A+ marks')
    Total_Marks = Total_Marks - (Min_marks * subjects[1])
    print('each subject got:',Min_marks,'Total_Marks:',Total_Marks)
    i = i+1
    
    print('.....................')

# Numpy Arrays

In [2]:
import numpy as np
np.set_printoptions(formatter={'float_kind' : '{:.2f}'.format })

In [ ]:
#Creating Arrays
h1 = [1,2,3]
h2 = ([[2,3,4],[78,0,98],[5,1,9]])
#print(type(np.array(h1)))
np.array(h2)

In [ ]:
print(h1)
print(type(h1))
print(len(h1))
print(h2)
print(type(h2))
print(len(h2))

In [ ]:
h2 = ([[2,3,4],[78,0,98],[5,1,9]])
h2 = np.array(h2)
print(h2)
h2.shape

In [ ]:
h1.append(9)
h1

In [ ]:
h1.remove(2)
h1

In [ ]:
arr = np.empty((3,3))
arr

In [ ]:
arr = np.zeros((2,7))
arr

In [ ]:
arr = np.ones((3,2))
arr

In [ ]:
arr = np.full((2,3),4) , np.full((3,2),9)
arr

In [ ]:
a = np.array([2,8,1,9,4,2])
arr = np.full((6,6),a)
arr

# To create a Numpy Array of 1000 Movie Id's starting from 1301

In [3]:
movie_Ids = np.arange(1301,2351)
print(movie_Ids.shape)
print(movie_Ids[0])
print(movie_Ids[100])
print(movie_Ids[:19])

(1050,)
1301
1401
[1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313 1314
 1315 1316 1317 1318 1319]

In [4]:
import random
#random.randint(0,NumMovies - 1)

In [9]:
NumMovies = 100    #here we can keep 1000 numbers from 1301 //try it//
movie_rated_by_user = np.full(NumMovies, -1) # we can use string also instead of -1
print('Num of movies rated by a users is:', movie_rated_by_user)

Num_of_movies_rated = random.randint(0,NumMovies - 1)
print('Num of movies rated by this user is:',Num_of_movies_rated)

movies_that_user_rated = random.sample(range(NumMovies),Num_of_movies_rated)
print('Movies numbers that this user rates:',movies_that_user_rated)

for i in movies_that_user_rated:
    movie_rated_by_user[i] = random.randint(0,10)
print('random ratings of this user is:',movie_rated_by_user)

Num of movies rated by a users is: [-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1]
Num of movies rated by this user is: 24
Movies numbers that this user rates: [73, 38, 60, 18, 88, 10, 61, 1, 14, 76, 64, 39, 77, 90, 54, 84, 89, 6, 56, 0, 98, 41, 58, 70]
random ratings of this user is: [ 0  8 -1 -1 -1 -1  3 -1 -1 -1  1 -1 -1 -1  3 -1 -1 -1  7 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  5  4 -1  1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1  3 -1  5 -1  1 -1  3  2 -1 -1  7 -1 -1 -1 -1 -1  1 -1
 -1  8 -1 -1  2  5 -1 -1 -1 -1 -1 -1 10 -1 -1 -1  7  3  4 -1 -1 -1 -1 -1
 -1 -1  9 -1]

In [10]:
type(Num_of_movies_rated)

int

In [11]:
def createmoviematrix(numusers, NumMovies):
    movie_matrix = []
    for user in range(numusers):
        movie_rated_by_user = np.full(NumMovies, -1)
        Num_of_movies_rated = random.randint(0,NumMovies - 1)
        movies_that_user_rated = random.sample(range(NumMovies),Num_of_movies_rated)
        for i in movies_that_user_rated:
            movie_rated_by_user[i] = random.randint(0,10)
            
        movie_matrix.append(movie_rated_by_user)
            
    return movie_matrix

In [12]:
nu = 100
nm = 1000
mymovie = createmoviematrix(nu,nm)
movie_matrix = np.array(createmoviematrix(100,1000))
print('movie_matrix details:')
print('shape:',movie_matrix.shape)
#print('type:',type(mymovie))
#print('length:',len(mymovie))
print(movie_matrix[:,:1000])

movie_matrix details:
shape: (100, 1000)
[[10  6 10 ...  2 10  5]
 [ 2  2 -1 ...  1  4 -1]
 [-1  5  9 ... -1  3 10]
 ...
 [-1 -1 -1 ... -1 -1  1]
 [-1 -1  4 ... -1  6 -1]
 [-1  5  0 ... -1 -1  5]]

In [13]:
expert_matrix = np.array(createmoviematrix(10,1000))
print(expert_matrix.shape)
expert_matrix[:,70:95]
#type(expert_matrix)
#len(movie_matrix)

(10, 1000)

array([[10,  6,  9, -1, -1,  0,  2, -1, -1,  5,  9,  3, -1, -1, -1,  5,
        -1, -1, 10, -1, -1, -1, -1,  4,  7],
       [-1, -1,  7,  0,  8,  0,  5,  7,  3, -1,  0,  5,  4,  6,  9,  4,
         1,  3, -1,  5,  3,  3, -1, -1,  6],
       [ 5,  9,  8,  6, -1, -1, -1,  1, -1,  4, -1, -1, -1,  9, -1, -1,
         7, -1,  7,  1, -1, -1, -1, -1,  0],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [ 6, -1,  3,  1,  3, -1,  1, -1,  5,  0,  1,  7,  3,  2,  8,  9,
        10,  6,  8,  9,  6, -1,  2, 10,  0],
       [-1, -1,  4, -1, -1, -1, -1, -1, -1, -1, -1,  1,  5, -1, -1, -1,
        -1, -1, -1, -1,  0, -1,  5, -1, -1],
       [ 1, -1, -1,  7, -1, -1, -1, -1, -1, -1,  5, 10,  0, -1, -1, -1,
        -1, -1, -1, -1, -1,  1,  1,  8,  9],
       [ 9,  3,  4,  0,  0, -1,  5,  6,  5,  9, 10,  0,  7,  1,  7,  3,
         5,  2,  7,  7,  3,  2,  3,  3, 10],
       [ 3, -1, 10, -1, -1,  0, -1,  5, -1, -1, -1, -1,  4, -1, -1, -1,
         4, -1,  2,  6,  1, -1,  9,  1, -1],
       [ 0,  9, -1,  9, -1, -1,  3, -1, -1, 10, -1,  1, -1, -1, -1, -1,
         9, -1, -1,  8,  1, -1, -1, -1, -1]])

In [14]:
movie_matrix = createmoviematrix(100,1000)
expert_matrix = createmoviematrix(10,1000)
movie_matrix = np.vstack([movie_matrix,expert_matrix])
print(movie_matrix.shape)
#expert_matrix.shape

(110, 1000)

In [15]:
new_movie_matrix = createmoviematrix(110,50)
movie_matrix = np.hstack([movie_matrix,new_movie_matrix])
print(movie_matrix.shape)

(110, 1050)

In [16]:
movie_matrix[75:80,990:1000]

array([[-1, -1, -1, -1, -1, -1, 10, -1,  3, -1],
       [-1,  3, -1, -1, -1,  9, -1,  1, -1, -1],
       [ 3,  0,  4, -1,  1,  4,  1, -1,  0,  8],
       [ 6,  5,  5,  6,  8,  3,  1,  1,  8,  6],
       [-1, -1, -1, -1, -1, -1,  5, -1, -1, -1]])

In [17]:
movie_matrix.shape

(110, 1050)

In [18]:
i = 5
m = movie_matrix[:,i]
m

array([ 4,  3,  7, -1, -1, -1, -1,  3,  8, -1, -1,  4, -1,  3, -1, -1,  4,
       -1,  3,  9, -1,  6,  8, -1, 10,  5,  3, -1, -1, -1,  3, -1,  0,  2,
       -1,  5,  3,  2, -1,  5,  0, -1, -1,  8, -1,  5,  8, 10,  4, -1,  0,
       -1,  4,  1, -1,  2,  1,  5, -1,  8,  9, -1, -1,  6, -1, -1,  8,  3,
        5, -1, -1,  4, -1,  6,  5, -1,  5,  1,  1, -1, -1, -1, -1, 10, 10,
        6,  6,  3, -1, -1,  1, -1,  1, -1, -1,  4, -1, -1,  6, -1, -1,  8,
        1, -1,  3, -1, -1,  5, 10, -1])

In [19]:
m = m[m >= 0]
m                      # movie ratings who doesn't gave // its removing condition//

array([ 4,  3,  7,  3,  8,  4,  3,  4,  3,  9,  6,  8, 10,  5,  3,  3,  0,
        2,  5,  3,  2,  5,  0,  8,  5,  8, 10,  4,  0,  4,  1,  2,  1,  5,
        8,  9,  6,  8,  3,  5,  4,  6,  5,  5,  1,  1, 10, 10,  6,  6,  3,
        1,  1,  4,  6,  8,  1,  3,  5, 10])

In [20]:
print(movie_Ids[i])
print(m.size)
print(m.mean())
print(m.std())

1306
60
4.716666666666667
2.846586649929272

In [21]:
movie_Ids = np.arange(1301,2351)   #1301 to 2351 are movie ids for 1050 
movie_stats = []
for i in range(1050):
    m = movie_matrix[:,i]
    m = m[m >= 0]
    movie_stats.append([movie_Ids[i],m.mean(),m.size,m.std()])

In [22]:
type(movie_stats)

list

In [23]:
movie_stats[90:100] 
#movie_stats

[[1391, 5.379310344827586, 58, 3.3775505622030018],
 [1392, 4.52, 50, 3.054439392098],
 [1393, 6.388888888888889, 54, 2.6833965946074048],
 [1394, 4.882352941176471, 51, 3.1226375152910584],
 [1395, 4.551020408163265, 49, 3.476223757445485],
 [1396, 4.56, 50, 3.3296246034650814],
 [1397, 4.2592592592592595, 54, 2.8099372945763936],
 [1398, 5.490909090909091, 55, 3.044355296865614],
 [1399, 5.431034482758621, 58, 3.27009474167043],
 [1400, 4.543859649122807, 57, 3.061189858326772]]

In [24]:
movie_stats = np.array(movie_stats)
print(type(movie_stats))
movie_stats.shape

<class 'numpy.ndarray'>

(1050, 4)

In [25]:
movie_stats[:,1]
print(np.amin(movie_stats[:,2]))
print(np.amax(movie_stats[:,3]))

42.0
3.646256203889069

In [26]:
x = movie_stats[:,1]
print(x.max(),x.min())
old_range = x.max() - x.min()
print(old_range)
new_range = 10 - 0
startOfNewRange = 0
print(10 - 0)
#print(80-30)

6.388888888888889 3.456140350877193
2.932748538011696
10

In [27]:
movie0_rating = movie_stats[0,1]
print('movie0 old rating:',movie0_rating)
newrating = ((movie0_rating - x.min()) * (new_range / old_range) + startOfNewRange)
print('movie0 new rating:',newrating)

movie0 old rating: 4.758620689655173
movie0 new rating: 4.441159280778354

In [28]:
print(movie_stats[0:5])
x = movie_stats[:,1]
print(x.max(),x.min())
old_range = x.max() - x.min()
startOfNewRange = 0
endOfNewRange = 10
new_range = endOfNewRange - startOfNewRange
movie_stats[:,1] = ((x - x.min()) * (new_range/old_range) + startOfNewRange)

[[1301.00 4.76 58.00 3.15]
 [1302.00 5.46 52.00 3.39]
 [1303.00 4.94 53.00 2.94]
 [1304.00 4.40 57.00 2.91]
 [1305.00 4.61 51.00 3.02]]
6.388888888888889 3.456140350877193

In [29]:
a = np.array([812,43,90,190,5])
print('original array:', a)
a[[1,4]]

original array: [812  43  90 190   5]

array([43,  5])

In [30]:
sortedindexes = np.argsort(a)
sortedindexes
a[sortedindexes]      # it says that the position of indexes

array([  5,  43,  90, 190, 812])

In [31]:
ratings = movie_stats[:,1]
ratings_sorted_indexes = ratings.argsort()
movie_stats_sorted = movie_stats[ratings_sorted_indexes]
movie_stats_sorted

array([[1648.00, 0.00, 57.00, 2.91],
       [1411.00, 0.83, 53.00, 2.93],
       [1808.00, 1.19, 51.00, 3.12],
       ...,
       [1578.00, 9.45, 57.00, 2.66],
       [1652.00, 9.72, 49.00, 2.99],
       [1393.00, 10.00, 54.00, 2.68]])

In [32]:
movie_stats[0:10]

array([[1301.00, 4.44, 58.00, 3.15],
       [1302.00, 6.84, 52.00, 3.39],
       [1303.00, 5.07, 53.00, 2.94],
       [1304.00, 3.23, 57.00, 2.91],
       [1305.00, 3.93, 51.00, 3.02],
       [1306.00, 4.30, 60.00, 2.85],
       [1307.00, 3.84, 60.00, 3.02],
       [1308.00, 5.55, 59.00, 3.23],
       [1309.00, 5.39, 54.00, 2.87],
       [1310.00, 5.13, 51.00, 3.44]])

In [33]:
movie_stats[20:30]    # No. of people ,rating,how many people rated,stddeviation

array([[1321.00, 3.40, 55.00, 3.17],
       [1322.00, 5.06, 51.00, 3.23],
       [1323.00, 4.69, 53.00, 3.19],
       [1324.00, 4.30, 60.00, 3.04],
       [1325.00, 8.23, 46.00, 2.94],
       [1326.00, 5.33, 52.00, 3.26],
       [1327.00, 4.48, 48.00, 2.95],
       [1328.00, 6.68, 58.00, 3.10],
       [1329.00, 6.14, 62.00, 3.04],
       [1330.00, 4.74, 58.00, 3.60]])

In [36]:
ratings = movie_stats[:,1]
ratings_sorted_indexes = ratings.argsort()
print(ratings)
print(ratings_sorted_indexes)

[4.44 6.84 5.07 ... 3.25 4.22 4.77]
[347 110 507 ... 277 351  92]

In [37]:
ratings = movie_stats[:,1]
ratings_sorted_indexes = ratings.argsort()
movie_stats_sorted = movie_stats[ratings_sorted_indexes]
movie_stats_sorted

array([[1648.00, 0.00, 57.00, 2.91],
       [1411.00, 0.83, 53.00, 2.93],
       [1808.00, 1.19, 51.00, 3.12],
       ...,
       [1578.00, 9.45, 57.00, 2.66],
       [1652.00, 9.72, 49.00, 2.99],
       [1393.00, 10.00, 54.00, 2.68]])

In [41]:
rating = movie_stats[:,1]
ratings_sorted_indexes = ratings.argsort()[::-1]     #give in reverse //descending order//
ratings_sorted_indexes

array([ 92, 351, 277, ..., 507, 110, 347], dtype=int64)

In [44]:
movie_stats_sorted[2,1]

1.1858542020995826

In [45]:
movie_stats_sorted = movie_stats[ratings_sorted_indexes]
movie_stats_sorted

array([[1393.00, 10.00, 54.00, 2.68],
       [1652.00, 9.72, 49.00, 2.99],
       [1578.00, 9.45, 57.00, 2.66],
       ...,
       [1808.00, 1.19, 51.00, 3.12],
       [1411.00, 0.83, 53.00, 2.93],
       [1648.00, 0.00, 57.00, 2.91]])

# save array to a csv file and read array from a csv file

Statistical Functions in Numpy

In [ ]:
a = np.array([[7,1,4],[5,0,3],[0,6,8],[6,9,69]])
a

In [ ]:
np.amin(a)
np.amin(a,1)

In [ ]:
np.amax(a)

In [ ]:
np.amax(a,0)[2]   #//axis// axis = 1 means row, axis = 0 means coloumn//

In [ ]:
a.mean(),a.std()

In [ ]:
a.argmax(0)

In [ ]:
round(a.mean(),2)

In [ ]:
#dir(np)

In [ ]:
#help(np)

In [ ]:
len(dir(np))

In [1]:
import numpy as np

In [2]:
import random

In [3]:
import pandas as pd

In [26]:
s = 'a is a in the a'

In [25]:
for i in s:
    print(s.index('a'))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [18]:
print(s.index('a'))

0

In [39]:
j = 1
for i in s:
    j = j-1
    
    if i =='a':
        print(j)

0
-5
-14